
body{

    background-image: linear-gradient(to left ,rgb(77, 73, 120), black );
}
.sub-heading{
text-align: center;
color: orange;
}
.A-new-way-of-investing-designed-for-the-Digital-Generation{
    width:auto;
    height:110px;

   font-family: Poppins;
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.35;
   letter-spacing: normal;
   
   color: #fff;
}

  button{
      
      margin:auto;
      display:grid;

      height: 50px; 
      width: 150px; 
    font-family: Poppins;
   text-align: center;
  
   font-size: 15px;
   font-weight: bold;
   border-radius: 10px
  }
.column {
    float: left;
   width:150px;
    height:150px;
   margin-top: 160px;
    margin-left: 100px;

    max-width: 100%;
    object-fit: contain;
    
  } 
  
  .column1{
    position: relative;
    
    left:70px;
    height:40px;
    width:50px;
    float: left;
    margin-top: 200px;
    
  }
  p{

    font-size: 18px;
    
    font-weight: 200;
    
    text-align: center;
    color:white
    
    }
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    
  }
  